<style>
    .site-footer {
        background-color: #e8e8e8;
        padding: 45px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: #737373;
    }

        .site-footer hr {
            border-top-color: #bbb;
            opacity: 0.5
        }

            .site-footer hr.small {
                margin: 20px 0
            }

        .site-footer h6 {
            color: #3D0C11;
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 5px;
            letter-spacing: 2px
        }

        .site-footer a {
            color: #737373;
        }

            .site-footer a:hover {
                color: #3366cc;
                text-decoration: none;
            }

    .footer-links {
        padding-left: 0;
        list-style: none
    }

        .footer-links li {
            display: block
        }

        .footer-links a {
            color: #737373
        }

            .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
                color: #3366cc;
                text-decoration: none;
            }

        .footer-links.inline li {
            display: inline-block
        }

    .site-footer .social-icons {
        text-align: right
    }

    .copyright-text {
        margin: 0
    }
</style>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">
                    RedCrescent.tn <i>HERE FOR HUMANITY </i> ©2023 Tunisian Red Crescent.
                    The Tunisian Red Crescent Society, incorporated 7 october 1956, and became a member of the International Red Cross and Red Crescent movement on September 13, 1957.
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Find Us</h6>
                <ul class="footer-links">
                    <li><a href="https://maps.app.goo.gl/SfxMFY2w4xh8tgAB8">Av Habib bourguibadotnet </a></li>
                    <li><a href="https://maps.app.goo.gl/3EDooU4MhF9zPkNMA">Ariana</a></li>
                    <li><a href="https://maps.app.goo.gl/83DNGrHnFiaCbzPc8">Megrine</a></li>
                    <li><a href="https://maps.app.goo.gl/pQyHmSA4mpJjFHtc9">Kram</a></li>
                    <li><a href="https://maps.app.goo.gl/c2ywG1vNmA3HnRyw9">Bizerte</a></li>
                    <li><a href="https://maps.app.goo.gl/GAZkCTkCLCd3vcsF6">Menzel Bou Zelfa</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/">About Us</a></li>
                    <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                    <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                    <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    Copyright &copy; 2023 All Rights Reserved by
                    <a href="#">Azy</a>.
                </p>
            </div>


        </div>
    </div>
</footer>