@{
    int? userId = Context.Session.GetInt32("userId");
    var test = ViewData["test"] as string;
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/ShipperNav.css" asp-append-version="true" />
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Brand</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a asp-controller="Users" asp-action="Home" class="nav-item nav-link active">Home</a>
                <a asp-controller="Users" asp-action="Categories" class="nav-item nav-link">Categories</a>

                <a asp-controller="Shippers" asp-action="ShipperDashboard" class="nav-item nav-link">All the Shipments</a>
            </div>


            @if (userId.HasValue)
            {
                <div class="navbar-nav ms-auto">
                    <form asp-action="Logout" asp-controller="Users" method="post">
                        <input type="submit" value="Logout" class="btn  btn-lg">
                    </form>
                </div>


            }
            else
            {
        <div class="navbar-nav ms-auto">
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="LogReg">Login</a>
        </div>
            }

        </div>
    </div>
</nav>