@{
    ViewData["Title"] = "Project Page";
    int userId = (int)Context.Session.GetInt32("userId");

}



@model Shipment



<form asp-action="ReceiveShipment" asp-controller="Shippers" method="post">


    <input type="hidden" asp-for="@Model.UserId">
    <input type="hidden" asp-for="@Model.DonationId">
    <input type="hidden" name="ShipStatus" value="Received" asp-for="@Model.ShipStatus">
    <button type="submit" class="btn btn-primary">✅ Donation Taken</button>
     
</form>

